<section class="well well-7">
  <div class="container">
    <div class="row">
      <h2 class="text-center page-header-custom">
        <%= @service.title %>
      </h2>
      <br>
      <p class="text-center arabic_sm">
        <%= @service.text %>
      </p>
    </div>

    <div class="row">
      <h2 class="text-center page-title">
        <%= t :details %>
      </h2>
      <br>
      <div class="row is-flex">
        <% @service.points.each do |s| %>
        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 arabic_sm">
          <div class="media">
            <div class="media-left">
              <i style="color: #28527b;" class="fa fa-check-circle-o" style="padding-bottom: 20px;"></i>
            </div>
            <div class="media-body">
              <p><%= s.text %></p>
            </div>
          </div>
        </div>
        <% end %>
      </ul>
    </div>

  </div>
</div>
</section>

<section class="well parallax text-center" data-url="/assets/parallax1.jpg" data-speed="0.6">
  <div class="container">
    <h2 class="fw-l arabic_xl gallery-title">
        <%= t :gallery %>
    </h2>
  </div>
  <div id="owl-demo" style="max-width: 80%; direction: ltr;">
    <% @images.each do |s| %>
    <div class="item" >
      <a class="fancybox" href="<%= s.asset.url(:large) %>">
        <img style="border-radius:4px;"src="<%= s.asset.url(:square) %>" alt=""/>
      </a>
    </div>
    <% end %>
  </div>
</section>

<section class="well well3 well3-mod" id="services">
  <div class="container">
    <h2 class="text-center page-title">
      <%= t :related_services %>
    </h2>

    <div class="row is-flex">

      <% @service.subservices.each do |s| %>
      <div class="col-md-4 col-sm-6 col-xs-12" style="padding-bottom: 5em;" data-wow-delay=".7s">
        <div class="thumbnail thumbnail4">
          <%= link_to  controller: 'subservices', action: 'show', id: s.id do %>
            <img src="<%= s.images.first.asset.url(:small) %>" alt="">
          <% end %>


          <div class="caption">
            <h6 class="arabic_md">
              <%= link_to s.title, controller: 'subservices', action: 'show', id: s.id %>
            </h6>

            <p class="arabic_sm"><%= link_to s.text, controller: 'subservices', action: 'show', id: s.id %> </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>


  </div>
</section>
