<section class="well well-7">
  <div class="container">
    <div class="row">
      <h3 class="text-center">
        <%= @service.title%>
      </h3>
      <br>
      <p class="text-center">
        <%= @service.text %>
      </p>
    </div>

    <div class="row">
      <h3 class="text-center">
        Services List
      </h3>
      <br>
      <ul class="list-inline">
          <% @service.points.each do |s| %>
          <li class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="media">
              <div class="media-left">
                <i class="fa fa-check-circle-o" style="padding-bottom: 20px;"></i>
              </div>
              <div class="media-body">
                <p><%= s.text %></p>
              </div>
            </div>
          <% end %>
      </ul>
      </div>

    </div>
  </div>
</section>

<section class="parallax text-center" data-url="/assets/parallax1.jpg" data-mobile="true" data-speed="0.6">
    <div class="container">
      <h2 class="fw-l arabic_xl" style="padding-top: 1em">
        Gallery
      </h2>
    </div>
    <div id="owl-demo" style="max-width: 80%">
        <% @images.each do |s| %>
          <div class="item" style="padding-top: 2em; padding-bottom: 2em">
            <a class="fancybox" href="<%= s.asset.url(:large) %>">
	             <img src="<%= s.asset.url(:square) %>" alt=""/>
            </a>
          </div>
        <% end %>
    </div>
</section>



    <!-- <div class="row-equal-height">
      <div class="col-xs-12 col-sm-12  col-md-5  col-lg-4 text-left center991 wow fadeInLeft1" style="background-image: url('<%= @service.asset.url(:large) %>'); background-position: center; min-height: 500px;">
      </div>
      <div class="col-xs-12 col-sm-12  col-md-7  col-lg-8 text-left center991">
        <h3 style="font-size:2em" class="wow fadeInDown" ><%= @service.title %> </h3>
        <p class="offset-4 wow fadeInDown" ><%= @service.text %> </p>
        <br>
        <% @subservices.each do |s| %>
          <div class="text-left left991 media wow fadeInDown" data-wow-delay="1s" >
            <div class="media-left">
              <i class="fa fa-check" style="font-size:4em;"></i>
            </div>
            <div class="media-body">
              <h3 style="font-size:1.25em"><%= s.title %></h3>

              <p><%= s.text %></p>
            </div>
          </div>
          <br>
        <% end %>

      </div>
    </div> -->
