<section class="well well5" id="project">
  <div class="container center767">
    <h3 class="text-center">
      News
    </h3>

    <% @articles.each_slice(2).each do |group| %>
    <div class="row">
      <% group.each do |a| %>
      <div class="col-sm-6 col-xs-12" style="padding:2em">
        <div class="flex-container-custom" style="height:260px; overflow: hidden;">
          <img class="" src="<%= a.asset.url %>" alt="">
        </div>


        <div class="caption">
          <h6 class="offset-3">
            <a href="#">
              <%= a.title %>
            </a>
          </h6>

          <p class=""><%= a.summary %></p>
          <a href="/articles/<%= a.id %>" class="btn-link">
            <span class="fst" data-txt="Read More"></span>
            <span class="snd" data-txt="Read More"></span>
          </a>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

  <%= paginate @articles %>
  </div>
</section>
