<section class="well well-7">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12">
        <h3 class="arabic_lg"><%= @article.title %></h3>
        <hr>
        <p style="padding-left:30px; padding-right:30px;"><i class="fa fa-clock-o" aria-hidden="true"></i> <%= @article.created_at.strftime("%m-%d-%Y") %></p>
        <hr>
        <br>
        <div class="flex-container-custom" style="height:400px; overflow: hidden;">
          <img src="<%= @article.asset.url(:large) %> " class="flex-item-custom" alt="">
        </div>
        <br>
        <h3 class="arabic_md"><%= @article.summary %></h3>
        <p class="arabic_sm">
          <%= @article.text %>
        </p>
      </div>


    </div>

  </div>
</section>
