<!-- <section class="well well5">
  <div class="container">

    <h3 class="text-center arabic_lg">
      <%= t :largest_projects %>
    </h4>
    <% @bigProjects.each_slice(2).each do |group| %>
    <div class="row wow fadeInDown">
      <% group.each do |a| %>
      <div class="col-sm-6 col-xs-12" style="padding:2em">
        <div class="flex-container-custom" style="height:260px; overflow: hidden;">
          <img class="" src="<%= a.asset.url(:medium) %>" alt="">
        </div>

        <div class="caption">
          <h6 class="offset-3 arabic_md">
            <%= a.title %>
          </h6>
          <p class="arabic_sm"><%= a.text %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

    <div class="paginate-center">
      <%= paginate @bigProjects%>
    </div>
  </div>
</section>

<% @projects.each do |p| %>
<section class="well well7">
  <div class="container">
    <h4 class="text-center arabic_lg">
      <%= p.title %>
    </h4>

    <p class="text-center arabic_md">
      <%= p.text %>
    </p>
    <div class="row">

      <ul class="index-list index-list_mod">
        <% p.subprojects.each do |s| %>
        <li class="col-md-4 col-sm-6 col-xs-12" style="margin-top:30px; margin-bottom:30px;">

          <h6>
            <a href="#">
              <p class="arabic_md">
                <%= s.title %>
              </p>
            </a>
          </h6>

          <p class="arabic_sm">
            <%= s.text %>
          </p>
        </li>

        <% end %>
      </ul>
    </div>

  </div>
</section>
<% end %> -->
