<section class="well well17">
  <div class="container">
    <h2 class="text-center page-header-custom" style="padding-bottom: 1.5em;">
      References
    </h2>

    <ul class="nav nav-justified" id="filter">
      <li class="nav-item">
        <%= link_to "Largest Projects", controller: 'projects', action: 'index'%>
      </li>
      <li class="nav-item" id="all_projects">
        <%= link_to "All Projects", controller: 'projects', action: 'show', id: 0 %>
      </li>
      <% @projects.each do |project| %>
      <li class="nav-item" id="<%=project.id.to_s %>">
        <%= link_to project.title, controller: 'projects', action: 'show', id: project.id %>
      </li>
      <% end %>
    </ul>
  </div>
</section>

<script>
  var filter = window.location.href.slice(-1);
  var element;
  if (filter == "0"){
    element = document.getElementById("all_projects");
  }else{
    element = document.getElementById(filter);
  }
  element.classList.add("active_filter");
</script>

<section class="well well5">
  <div class="container">

    <h3 class="text-center arabic_lg">

    </h4>
    <% @subprojects.each_slice(2).each do |group| %>
    <div class="row">
      <% group.each do |a| %>
      <div class="col-sm-6 col-xs-12" style="padding:2em">
        <div class="flex-container-custom" style="height:260px; overflow: hidden;">

        </div>

        <div class="caption">
          <h6 class="offset-3 arabic_md">
            <%= a.title %>
          </h6>
          <p class="arabic_sm"><%= a.text %></p>
        </div>
      </div>
      <% end %>
    </div>
    <% end %>

    <div class="paginate-center">
      <%= paginate @subprojects%>
    </div>
  </div>
</section>

<!-- <% @projects.each do |p| %>
<section class="well well7">
<div class="container">
<h4 class="text-center arabic_lg">
<%= p.title %>
</h4>

<p class="text-center arabic_md">
<%= p.text %>
</p>
<div class="row">

<ul class="index-list index-list_mod">
<% p.subprojects.each do |s| %>
<li class="col-md-4 col-sm-6 col-xs-12" style="margin-top:30px; margin-bottom:30px;">

<h6>
<a href="#">
<p class="arabic_md">
<%= s.title %>
</p>
</a>
</h6>

<p class="arabic_sm">
<%= s.text %>
</p>
</li>

<% end %>
</ul>
</div>

</div>
</section>
<% end %> -->
