<section>
  <div class="map">
    <div id="google-map" class="map_model" data-zoom="16"></div>
    <ul class="map_locations">

      <li data-x="31.2434494" data-y="30.0510643" data-basic="/assets/gmap_marker.png" data-active="/assets/gmap_marker_active.png">
        <p>
          <%= t :address_text %> <br/>
          <span><%= t :telephone_text %> </span>
        </p>
      </li>
    </ul>
  </div>
</section>

<section class="well well7 wow fadeInLeft">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-12">
        <h3 class="text-center">
          <%= t :address %>
        </h3>
        <address class="h6">
          <%= t :address_text %>
        </address>
        <br>
        <address class="addr1">

          <dl>
            <dt><%= t :telephone %></dt>
            <dd>
              <a href='callto:#'>
                <%= t :telephone_text %></a>
            </dd>
            <dt></dt>
            <dd>
              <a href='callto:#'>
                <%= t :telephone_text1 %></a>
            </dd>
            <dt>
              <dd></dd>
            </dt>
            <dt><%= t :fax %></dt>
            <dd>
              <a href='callto:#'>
                <%= t :fax_telex_text %></a>
            </dd>
            <dt>
              <dd></dd>
            </dt>
            <dt><%= t :telex %></dt>
            <dd>
              <a href='callto:#'>
                <%= t :fax_telex_text1 %></a>
            </dd>
          </dl>
          <dl class="mail">
            <dt><%= t :email %></dt>
            <dd>
              <a href="mailto:#">info@elfoulycompany.com</a>
            </dd>
            <dt>
              <dd>elfoulycompany.com</a>
              </dd>
            </dt>
          </dl>
        </address>
      </div>

      <div class="col-md-8 col-xs-12 wow fadeInRight">
        <h3 class="text-center">
          <%= t :nav_contact %>
        </h3>

        <form class='mailform' method="post" action="bat/rd-mailform.php" data-type="contact">
          <div class="form-group name" data-add-placeholder>
            <label for="mailform-input-name"><%= t :your_name %></label>
            <input id="mailform-input-name" type="text" name="name" data-constraints="@LettersOnly @NotEmpty"/>
          </div>

          <div class="form-group" data-add-placeholder>
            <label for="mailform-input-email"><%= t :your_email %></label>
            <input id="mailform-input-email" type="text" name="email" data-constraints="@Email @NotEmpty"/>
          </div>

          <div class="form-group" data-add-placeholder>
            <label for="mailform-input-phone"><%= t :your_phone %></label>
            <input id="mailform-input-phone" type="text" name="phone" data-constraints="@Phone"/>
          </div>

          <div class="form-group textarea" data-add-placeholder>
            <label for="mailform-input-textarea"><%= t :your_message %></label>
            <textarea id="mailform-input-textarea" name="message" data-constraints="@NotEmpty"></textarea>
          </div>

          <div class="form-group btn-wr">
            <button class="btn btn-default" type="submit"><%= t :submit_message %></button>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>
