<footer>
  <section class="well_foot-1 well-10 well-10-mod bg1">
    <div class="container">
      <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12" style="text-align: center;">
            <h6 class="arabic_md">
              <%= t :address %>
            </h6>
            <address class="h7 arabic_sm">
              <%= t :address_text %>
            </address>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="text-align: center;">
          <h6 class="arabic_md">
            <%= t :telephone %>
          </h6>
          <dl class="arabic_sm">
            <dd>
              <a href='callto:#'>
                <%= t :telephone_text %></a>
            </dd>
            <dt></dt>
            <dd>
              <a href='callto:#'>
                <%= t :telephone_text1 %></a>
            </dd>
          </dl>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="text-align: center;">
          <h6 class="arabic_md">
            <%= t :fax_telex %>
          </h6>
          <dl class="arabic_sm">
            <dd>
              <a href='callto:#'>
                <%= t :fax_telex_text %></a>
            </dd>
            <dd>
              <a href='callto:#'>
                <%= t :fax_telex_text1 %></a>
            </dd>
          </dl>
        </div>

        <div class="col-md-3 col-sm-6 col-xs-12" style="text-align: center;">
          <h6 class="arabic_md">
            <%= t :email %>
          </h6>
          <dl class="mail">
            <dd>
              <a href="mailto:#">info@elfoulycompany.com</a>
            </dd>
            <dt>
              <dd>
                <a href="mailto:#">gm@elfoulycompany.com</a>
              </dd>
            </dt>
          </dl>
        </div>
      </div>

    </div>
  </div>
</section>
</footer>
