<header class="<%= 'head1' if controller_name != 'home' %> ">
  <div id="stuck_container" class="stuck_container">
    <nav class="navbar navbar-default navbar-static-top ">
      <div class="container">
        <div class="navbar-header">
          <h1 class="navbar-brand">
            <a data-type='rd-navbar-brand'>
              <span>El</span>Fouly</a>
          </h1>
        </div>

        <ul class="navbar-nav sf-menu navbar-right" data-type="navbar">

          <li>
            <%= link_to 'Home', controller: 'home' %>
          </li>
          <li class="dropdown">
            <%= link_to 'Services', controller: 'services' %>
            <ul class="dropdown-menu">
              <% @services.each do |s| %>
                <li><%= link_to s.title, controller: 'services', action: 'show', id: s.id %></li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to 'News', controller: 'articles' %>
          </li>
          <li>
            <a>Refrences</a>
          </li>
          <li>
            <%= link_to 'Contact', controller: 'contact' %>
          </li>
          <li>
            <a>عربي</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>
