<header class="<%= 'head1' if controller_name != 'home' %> ">
  <div id="stuck_container" class="stuck_container">
    <nav class="navbar navbar-default navbar-static-top ">
      <div class="container">
        <div class="navbar-header">
          <h1 class="navbar-brand">
            <a data-type='rd-navbar-brand'>ElFouly<span> Co.</span></a>
          </h1>
        </div>

        <ul class="navbar-nav sf-menu navbar-right" data-type="navbar">

          <li>
            <%= link_to t :nav_home, controller: 'home' %>
          </li>
          <li class="dropdown">
            <%= link_to t :nav_services, controller: 'services' %>
            <ul class="dropdown-menu">
              <% @services.each do |s| %>
                <li><%= link_to s.title, controller: 'services', action: 'show', id: s.id %></li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to t :nav_news, controller: 'articles' %>
          </li>
          <li>
            <%= link_to t :nav_references, controller: 'projects' %>
          </li>
          <li>
            <%= link_to t :nav_contact, controller: 'contact' %>
          </li>
          <li>
            <a><%= t :nav_language %></a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
</header>
